async-timeout==5.0.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cryptography==44.0.0
Flask==3.1.0
Flask-Cors==5.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mysql-connector==2.2.9
mysql-connector-python==9.1.0
paramiko==3.5.0
protobuf==5.29.3
pycparser==2.22
PyNaCl==1.5.0
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
soupsieve==2.6
sshtunnel==0.4.0
urllib3==2.3.0
Werkzeug==3.1.3
