<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patchwork Archive</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/landing.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
  <meta name="title" content="Patchwork Archive">
  <meta name="description" content="Preserving rhythm, one video at a time">
  <meta property="og:type" content="website"><meta property="og:url" content="{{domain}}">
  <meta property="og:title" content="Patchwork Archive">
  <meta property="og:image" content="{{ url_for('static', filename='img/logo.png') }}">
  <meta property="og:description" content="Preserving rhythm, one video at a time">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:url" content="{{domain}}">
  <meta property="twitter:title" content="Patchwork Archive">
  <meta property="twitter:description" content="Preserving rhythm, one video at a time">
  <meta property="twitter:creator" content="@pinapelz">
  <meta name="google-site-verification" content="1FflrzLsOBG2SBJDSCugrEsi1iVPeMSySgy41XaUEK8" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/status">Status</a></li> 
      </ul>
    </nav>
    <div id="search-bar">
      <form action="/results" method="GET">
        <input type="text" name="search_query" placeholder="Search">
      </form>
    </div>
    <div id="logo">
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo">
    </div>
  </header>

  <main>
    <div class="message">
      <h2>Welcome to the VTuber Music Archives</h2>
      <p>We have {{archived_videos_count}} videos archived taking up {{archive_size}} GB of storage space.</p>
    </div>

    <section id="featured-videos">
      <h2>Daily Featured</h2>
      <div class="video-grid">
        {% for video in featured_videos %}
        <div class="video">
          <div class="thumbnail">
            <a href="/watch?v={{ video['video_id'] }}">
              <img src="{{ thumbnails_domain }}/{{video['video_id']}}.jpg" alt="Video Thumbnail">
            </a>
          </div>
          <div class="details">
            <a href="/watch?v={{ video['video_id'] }}">
              <h3>{{ video['title'] }}</h3>
            </a>
            <p>{{ video['channel_name'] }} - {{video['upload_date']}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="random-videos">
      <h2>Discover</h2>
      <div class="video-grid">
        {% for video in videos %}
        <div class="video">
          <div class="thumbnail">
            <a href="/watch?v={{ video['video_id'] }}">
              <img src="{{ thumbnails_domain }}/{{video['video_id']}}.jpg" alt="Video Thumbnail">
            </a>
          </div>
          <div class="details">
            <a href="/watch?v={{ video['video_id'] }}">
              <h3>{{ video['title'] }}</h3>
            </a>
            <p>{{ video['channel_name'] }} - {{video['upload_date']}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <hr class="video-separator">

    <section id="recently-archived">
      <h2>Recently Archived</h2>
      <div class="video-grid">
        {% for video in recent_archived_videos %}
        <div class="video">
          <div class="thumbnail">
            <a href="/watch?v={{ video['video_id'] }}">
              <img src="{{ thumbnails_domain }}/{{video['video_id']}}.jpg" alt="Video Thumbnail">
            </a>
          </div>
          <div class="details">
            <a href="/watch?v={{ video['video_id'] }}">
              <h3>{{ video['title'] }}</h3>
            </a>
            <p>{{ video['channel_name'] }} - {{video['upload_date']}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>

  <footer>
    <h2>Made with 🤪 by Pinapelz</h2>
    <br>
    <a href="https://github.com/pinapelz/Video-Archive-Server">Source code</a>
    <br>
    <a href="https://archive.ragtag.moe">Inspired by Ragtag Archives</a>
  </footer>
</body>

</html>
