<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Archives</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/landing.css') }}">

</head>

<body>
  <header>
    <div id="logo">
      <img src="Banana-Single.jpg/800px-Banana-Single.jpg" alt="Really Awesome Logo">
    </div>
    <div id="search-bar">
      <input type="text" placeholder="Search">
      <button id="search-button">Search</button>
    </div>
  </header>

  <main>
    <section id="featured-videos">
      <h2>Daily Featured</h2>
      <div class="video-grid">
        {% for video in featured_videos %}
        <div class="video">
          <div class="thumbnail">
            <a href="/watch?v={{ video['video_id'] }}">
              <img src="{{ thumbnails_domain }}/{{video['video_id']}}.jpg" alt="Video Thumbnail">
            </a>
          </div>
          <div class="details">
            <a href="/watch?v={{ video['video_id'] }}">
              <h3>{{ video['title'] }}</h3>
            </a>
            <p>{{ video['channel_name'] }} - {{video['upload_date']}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <section id="random-videos">
      <h2>Discover</h2>
      <div class="video-grid">
        {% for video in videos %}
        <div class="video">
          <div class="thumbnail">
            <a href="/watch?v={{ video['video_id'] }}">
              <img src="{{ thumbnails_domain }}/{{video['video_id']}}.jpg" alt="Video Thumbnail">
            </a>
          </div>
          <div class="details">
            <a href="/watch?v={{ video['video_id'] }}">
              <h3>{{ video['title'] }}</h3>
            </a>
            <p>{{ video['channel_name'] }} - {{video['upload_date']}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    <hr class="video-separator">

    <section id="recently-archived">
      <h2>Recently Archived</h2>
      <div class="video-grid">
        {% for video in recent_archived_videos %}
        <div class="video">
          <div class="thumbnail">
            <a href="/watch?v={{ video['video_id'] }}">
              <img src="{{ thumbnails_domain }}/{{video['video_id']}}.jpg" alt="Video Thumbnail">
            </a>
          </div>
          <div class="details">
            <a href="/watch?v={{ video['video_id'] }}">
              <h3>{{ video['title'] }}</h3>
            </a>
            <p>{{ video['channel_name'] }} - {{video['upload_date']}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </main>

  <footer>
  </footer>
</body>

</html>
