<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/radio.css') }}">
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <title>Patchwork Archive - Random</title>
    <meta property="og:type" content="website">
    <link rel="canonical" href="{{domain}}/watch?v={{video_id}}">
  </head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/status">Status</a></li>
        <li><a href="/radio">Radio</a></li>
      </ul>
    </nav>
    <div id="search-bar">
      <form action="/results" method="GET">
        <input type="text" name="search_query" placeholder="Search">
      </form>
    </div>
    <div id="logo">
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo">
    </div>
  </header>

  <main>
    <div class="details">
      <h3 id="title"></h3>
      <p id="channel_name"></p>
    </div>
    <div class="content">
      <div class="video">
        <video 
        autoplay
        onended="videoWatched()"
        playsinline>
        </video>
        <div class="video-bar">
          <div class="watched-videos-count">Songs Listened: <span id="watched-count">0</span></div>
          <button id = "pause-button" onclick="freezeVideo()">Freeze</button>
          <div class="video-progress-text"><span id="video-progress"></span></div>
          <button id="skip-button" onclick="fetchAndDisplayRandomVideo('/api/random_video')">Skip</button>
          <input type="range" id="volume-slider" min="0" max="100" value="100" onchange="adjustVolume()">
        </div>
      <p> <a href="/watch?v={{video_id}}">Direct Link</a></p>
      </div>

    </div>
  </main>
  <script>
    const videoElement = document.querySelector('video');
    const titleElement = document.getElementById('title');
    const channelNameElement = document.getElementById('channel_name');
    const videoProgressElement = document.getElementById('video-progress');
    const permalinkAnchor = document.querySelector('a[href^="/watch?v="]');

    fetchAndDisplayRandomVideo('/api/random_video');
    function fetchAndDisplayRandomVideo(api_url) {
      fetch(api_url)
        .then(response => response.json())
        .then(data => {
          const videoId = data.video_id;
          videoElement.src = `{{cdn}}/${videoId}.webm`;
          titleElement.textContent = data.title;
          permalinkAnchor.href = `/watch?v=${videoId}`;
          channelNameElement.textContent = data.channel_name;
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });
        videoElement.play();
    }

    let watchedCount = 0;
    const watchedCountElement = document.getElementById('watched-count');
    function incrementWatchedCount() {
      watchedCount++;
      watchedCountElement.textContent = watchedCount;
    }

    function videoWatched() {
      incrementWatchedCount();
      fetchAndDisplayRandomVideo('/api/random_video');
    }

    function adjustVolume() {
      const volume = parseFloat(document.getElementById('volume-slider').value) / 100;
      videoElement.volume = volume;
      console.log(volume);
   }

   function freezeVideo(){
      if (videoElement.paused){
        videoElement.play();
      } else {
        videoElement.pause();
      }
   }

   function formatTime(time) {
    const minutes = Math.floor(time / 60);
    const seconds = Math.floor(time % 60);
    if (isNaN(minutes) || isNaN(seconds)) {
      return 'Now Loading';
    }
    return `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
  }


   function updateVideoProgressText() {
    const currentTime = videoElement.currentTime;
    const duration = videoElement.duration;
    const formattedCurrentTime = formatTime(currentTime);
    const formattedDuration = formatTime(duration);
    videoProgressElement.textContent = `${formattedCurrentTime} / ${formattedDuration}`;
  }

  videoElement.addEventListener('timeupdate', updateVideoProgressText);
  </script>
</body>
</html>