<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/video.css') }}">
  <title>{{video_title}} - Patchwork Archive</title>

  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
    <title>Patchwork Archive - Random</title>
    <meta property="og:type" content="website">
    <link rel="canonical" href="{{domain}}/watch?v={{video_id}}">
  </head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/status">Status</a></li>
      </ul>
    </nav>
    <div id="search-bar">
      <form action="/results" method="GET">
        <input type="text" name="search_query" placeholder="Search">
      </form>
    </div>
    <div id="logo">
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo">
    </div>
  </header>

  <main>
    <div class="content">
      <div class="video">
        <video 
        src="{{cdn}}/{{video_id}}.webm" 
        poster="{{thumbnails_domain}}/{{video_id}}.jpg" 
        controls 
        autoplay
        onended="fetchAndDisplayRandomVideo('/api/random_video')"
        playsinline>
        </video>
      </div>
        <div class="details">
          <h3 id="title"></h3>
          <p id="channel_name"></p>
          <p id="upload_date"></p>
          <button id="open-vlc-button" onclick="openInVLC('{{cdn}}/{{video_id}}.webm')">Open in VLC</button>
          <br>
          <br>
          <h2>Description</h2>
          <p id="description" class="description-content collapsed"></p>
          <button id="toggle-description" class="toggle-button" onclick="toggleDescription()">Show More</button>
        </div>
    </div>
  </main>
  <script>
    fetchAndDisplayRandomVideo('/api/random_video');
    function fetchAndDisplayRandomVideo(api_url) {
      const videoElement = document.querySelector('video');
      const titleElement = document.getElementById('title');
      const channelNameElement = document.getElementById('channel_name');
      const uploadDateElement = document.getElementById('upload_date');
      const descriptionElement = document.getElementById('description');
      const openVlcButton = document.getElementById('open-vlc-button');
      fetch(api_url)
        .then(response => response.json())
        .then(data => {
          const videoId = data.video_id;
          videoElement.src = `{{cdn}}/${videoId}.webm`;
          videoElement.poster = `{{thumbnailsDomain}}/${videoId}.jpg`;
          titleElement.textContent = data.title;
          channelNameElement.textContent = data.channel_name;
          uploadDateElement.textContent = data.upload_date;
          descriptionElement.textContent = data.description;
          openVlcButton.onclick = function () {
            openInVLC(`${cdn}/${videoId}.webm`);
          };
        })
        .catch(error => {
          console.error('Error fetching data:', error);
        });
        videoElement.play();
    }
  </script>
</body>
</html>