<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/search.css') }}">
  <meta property="og:title" content="{{search_terms}} -  Patchwork Archive">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/status">Status</a></li> 
      </ul>
    </nav>
    <div id="search-bar">
      <form action="/results" method="GET">
        <input type="text" name="search_query" placeholder="Search" value="{{search_terms}}">
      </form>
    </div>
    <div id="logo">
      <img src="{{url_for('static', filename='img/logo.png')}}" alt="Logo">
    </div>
  </header>
  <div class="search-results">
    {% for video in search_result %}
    <a href="/watch?v={{ video['video_id'] }}" class="search-result">
      <img class="thumbnail" src="{{ thumbnails_domain }}/{{ video['video_id'] }}.jpg" alt="Thumbnail">
      <div class="details">
        <h3 class="title">{{ video['title'] }}</h3>
        <p class="channel">{{ video['channel_name'] }}</p>
        <p class="date">{{ video['upload_date'] }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</body>

</html>
