/* styles.css */

/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Dark theme */
body {
  background-color: #1c1c1c;
  color: #ffffff;
}

header {
  background-color: #2A4B71;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo img {
  width: 48px; /* Increased logo size */
  height: 50%;
  margin-right: 10px;
}

#search-bar {
  display: flex;
  flex-grow: 1; /* Take remaining space in the header */
  justify-content: center; /* Center the search bar */
  align-items: center; /* Center the search bar */
}

#search-bar input[type="text"] {
  width: 100%; 
  padding: 10px; 
  background-color: #383838; /* Darker background color */
  border: none;
  border-radius: 3px;
  color: #ffffff; /* Text color */
  max-width: 600px; /* Set maximum width for the search input */
  margin: 0 10px;
}

#search-button {
  padding: 10px 20px; /* Increased padding */
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #000000; /* Text color */
}


/* Main content styles */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px; /* Increased margin-bottom */
}

.video {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; /* Increased margin-bottom */
}

.thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.details {
  margin-top: 5px;
  margin-left: 5px;
}

.details a {
  text-decoration: none;
  color: #ffffff; /* Text color */
}

.details a:hover {
  text-decoration: underline;
}

.details h3 {
  font-size: 20px; /* Increased font size */
  font-weight: bold;
  margin-bottom: 10px; /* Increased margin-bottom */
}

.details p {
  color: #b8b8b8; /* Lighter text color */
  margin-bottom: 5px; /* Increased margin-bottom */
}

footer {
  background-color: #383838; /* Darker background color */
  padding: 20px; /* Increased padding */
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #ffffff; /* Text color */
}

.video-separator {
  border: none;
  border-top: 1px solid #ffffff; /* Color of the line separator */
  margin: 30px auto; 
  width: 50%;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .video {
    flex-direction: column;
  }

  .thumbnail {
    flex: 0 0 auto;
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
  }

  .details {
    margin-top: 0;
  }
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

.message h2 {
  font-size: 32px; 
  font-weight: bold;
  margin-bottom: 10px;
}

.message p {
  font-size: 18px;
  color: #b8b8b8;
  margin-bottom: 20px;
}